@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Amarante&family=Amiko:wght@400;600;700&family=Anaheim&family=Clicker+Script&family=Kavoon&family=Lobster&family=Monoton&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Parisienne&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,900&family=Shrikhand&family=Spicy+Rice&display=swap');
.fGenerales {
    font-family: 'Amarante', cursive;
    font-family: 'Aleo', serif;
    font-family: 'Anaheim', sans-serif;
    font-family: 'Amiko', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Clicker Script', cursive;
    font-family: 'Kavoon', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Parisienne', cursive;
    font-family: 'Spicy Rice', cursive;
}
