@import url("../../../css/fuenteslocales.css");
body {
  background: url("../../../demo/academico/img/jpg/foto2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  text-align: center;
  font-family: "Arima Madurai", cursive;
}
h1 {
  font-family: "Shrikhand", cursive;;
}
ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #333333;
  margin: .5em 0em 2em 0em;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.btn-group .button {
  background-color: #4caf50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #3e8e41;
}
/* */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.frein {
  position: relative;
  top: -.2em;
  left: 0;
  width: 80%;
  height: 53.7em;
}
.usuario {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 80%;
  height: 1.4em;
  border: .1em solid #08c0ee;
  margin-top: 9.05em;
  margin-left: 11.53em;
  padding-right: -.5em;
  background-color: #252121;
}
