@import url("../../../css/fuenteslocales.css");
table {
  border-collapse: collapse;
  background-color: rgb(250, 155, 177);
  cursor: pointer;
  width: 100%;
  border-radius: .5em;
  text-align: center;
}
table caption {
  font-family: "Amarante", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  height: 2em;
}
table thead, table tfoot {
  font-family: "Amarante", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  height: 2em;
}
tr {
  height: 2em;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: .73em;
  transition: color 30ms, font-size 1s;
}
tbody tr:nth-child(even) {
  background-color: rgb(54, 230, 166);
}
tbody tr:nth-child(odd) {
  background-color: rgb(2, 195, 178);
}
tbody tr:nth-child(odd):hover {
  color: rgb(243, 233, 146);
  font-size: .8em;
}
tbody tr:nth-child(even):hover {
  color: rgb(244, 41, 193);
  font-size: .8em;
}
#ChangeIcon {
  background: url("../../academico/img/png/confirmarque.png") no-repeat center;
  background-size: cover;
  background-clip: padding-box;
  height: 18px;
  width: 18px;
  transition: background 30ms;
}
#ChangeIcon:hover {
  background: url("../../academico/img/png/confirmarsi.png") no-repeat center;
  background-size: cover;
  background-clip: padding-box;
  height: 20px;
  width: 20px;
}